.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: inherit;
    height: 100%;
    width: 100%;
}

.button:hover{
    background-color: black;
    color: white;

}