:root {
  --blue-color: #5ea3ec;
  --red-color: #f64444;
  --orange-color: #ffb400;
  font-family: 'Apercu Mono Pro', sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}


@font-face {
  font-family: 'ogg';
  src: url('../assets/Font/Ogg-Regular-BF646c18fc3ed57.otf');
}

